.flex-control-nav {
    z-index: 9999;
    bottom:-50px;
}

.custom-service-box .meta,
.label-red,
.label-green {
    text-transform: none;
    font-family: Athelas;
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
    padding:2px 30px;
    border-radius: 20px;
    font-size:14px !important;
}
.custom-service-box .meta {
    margin:10px 0;
    padding: 0;
}
.custom-service-box .meta i {
    margin-right: 10px;
}
.custom-service-box  h3 {
    font-size: 18px;
    text-transform: none !important;
}
.custom-service-box img {
    width: 120px;
}

.custom-service-box .ImageWrapper {
    margin-right: 20px;
}

.custom-service-box .ImageWrapper i {
    background: #fff;
    width:40px;
    height: 40px;
    line-height: 40px;
}
.custom-service-box {
    margin-bottom:20px;
    background: #F8F7F7;
    padding:20px;
    display: block;
    border-bottom:1px solid #e9e9e9 !important;
    position: relative;
    min-height: 150px;
}
.tab-content {
    border:0 !important;
    border-bottom: 1px solid #e9e9e9 !important;
    padding:0 !important;
}

.tab-content h3 {
    font-family: Athelas;
    font-style: italic;
    font-size: 20px;
}
#ask_question_builder .form-control,
#online_form_builder .form-control {
    margin-bottom:20px;
    height: 40px;
}
    .custom_tabbed .nav-tabs > li.active > a {
        color:#fff;
    }
    .custom_tabbed {
        overflow:hidden;
        display:block;
        position:relative;
        margin:35px 0 !important;
    }
    .custom_tabbed .nav-tabs > li > a {
        font-size:16px;
        border-radius:0;
        padding: 20px 25px !important;
    }
    .custom_tabbed .nav-tabs,
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        background:#F8F7F7;
        border-color:transparent;
    }
    .custom_tabbed .tab-content > .tab-pane {
        background:#F8F7F7;
        padding: 20px;
    }

#parallax-medical small,
#parallax-medical h3,
#parallax-medical p {
    color:#fff;
    text-transform: none;
}
.custom-wrapper {
    background: #282828;
    display: block;
    padding: 80px 0;
    position: relative;
}
.custom-wrapper .input-group-addon,
.custom-wrapper .form-control {
    background: #1ad1ad;
    border-color:#1ad1ad;
    color:#fff;
    height: 50px;
}

.btn-default {
    color:#000 !important;
}


.custom-wrapper .form-control::-moz-placeholder {
    color:#fff;
}

.custom-wrapper h3 {
    color:#fff;
    line-height: 1.7;
    padding-bottom:40px;
}

.header {
    padding:50px 0 40px;
}

#accordion-first .accordion-heading .accordion-toggle > em {
    border-radius: 0;
    background: #fff;
}
.section-white #accordion-first .accordion-heading .accordion-toggle > em {
    background: #fff;
}


.tab-content h3 span,
.dropdown-submenu > .dropdown-menu li a:hover, 
.dropdown-submenu > .dropdown-menu li a:focus, 
.yamm .dropdown-menu li a:hover, 
.yamm .dropdown-menu li a:focus, 
.yamm .box li a:hover, 
.yamm .box li a:focus, 
.tp-caption.slider-title7 span, 
.slider-title7 span, 
.tp-caption.slider-title-baron2, 
.slider-title-baron2, 
.tp-caption.blue-color,
.tp-caption.slider-title4 span, 
.slider-title4 span, 
#testimonial small, 
.section-title .baron, 
#accordion-first .accordion-heading .accordion-toggle > em, 
.tp-caption.slider-title span, .slider-title span, 
.bubble, 
.service-style-1 i, .mini-title h2 span, 
.service-hover i, .section-title h3 span, 
.callus .dropdown-menu > li > a:hover, 
.callus .dropdown-menu > li > a:focus, 
.callus i {
    color:  #18e2ba !important;  
}

a {
    color:  #18e2ba ;  
}

.label-red {
    background: #e63f45;
}

.team-member .social-icons i,
.label-green,
mark,
.items .bubble:hover,
    .custom_tabbed .nav-tabs > li.active > a, 
.custom_tabbed .nav-tabs > li.active,
 #accordion-first .accordion-heading .accordion-toggle > em:hover, #accordion-first .accordion-heading .accordion-toggle > em.fa-minus,
.header.border-bg .navbar-nav > li:focus, 
.header.border-bg .navbar-nav > li:active, 
.header.border-bg .navbar-nav > li.active, 
.header.border-bg .navbar-nav > li:hover,
.header.border-bg .navbar-nav > li > a:focus, 
.header.border-bg .navbar-nav > li > a:active, 
.header.border-bg .navbar-nav > li > a.active, 
.header.border-bg .navbar-nav > li > a:hover {
    background: #18e2ba !important;  
}
.yamm .yamm-content, .dropdown-submenu > .dropdown-menu, .yamm .dropdown-menu {
    border-top-color: #18e2ba;  
}

.bf ul.filter li a.active,
.bf ul.filter li a:hover,
.pagination li > a:hover, .pagination li > span:hover,
.quote-post blockquote,
.flex-control-paging li a.flex-active,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.color-green,
.btn-primary {
    background: #18e2ba;  
    border-color: #18e2ba;  
}
.btn-transparent {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #fff;
}
.full-image-section {
    overflow: hidden;
    z-index: 9999;
}

.bf ul.items.bflayhover li .caption, 
.ImageWrapper .ImageOverlayLi:before,
.ImageWrapper:hover .ImageOverlayLi:before,
.ImageWrapper .ImageOverlayLi:after,
.ImageWrapper:hover .ImageOverlayLi:after {
    background: rgba(26,206,173,0.7) !important;
    color:#fff !important;
}
