.bf-single-item {
  border:1px solid #f5f5f5;
}

.btn-group > .btn + .dropdown-toggle {
  margin:0 10px;
}

.shop-desc .title h2 {
    text-transform: uppercase;
}

.color-red i {
  color:#fff !important;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    border-radius: 0 !important;
    float: left;
    padding: 4px 10px;
    position: relative;
}

.cat-list {
  margin:20px 0;
}
.desc {
  margin:20px 0;
}

.rating span {
    color: #282828 !important;
    font-weight: 500;
    margin-left: 10px;
}

.bf ul.filter li a {
  background: #f9f9f9;
  padding:8px 50px;
  font-size:12px;
}

.bf ul.items li .caption h3 a {
  font-size:14px !important;
}

.shop-desc .title h2 span,
.caps-desc p {
  font-family: Athelas;
  font-size:24px;
  font-style: italic;
}
.caps-desc p .old-price {
  color:#aeaeae !important;
}
.input-group-addon {
  background: #fff;
}

.form-widget .section-title {
  padding-bottom: 0px !important;
  margin-bottom: 0;
}

.input-group-addon,
.reservation .form-control {
  border-color:#e9e9e9;
  color:#9d9d9d;
}
#page .restaurant-header {
position: relative;
top:0;
}

#page_header p {
margin-top:50px;
font-size:34px;
color:#fff;
font-weight:700;
}

#page_header {
padding:25rem 0 15rem;
}

#page_header:before {
content:'';
position:absolute;
bottom:-26px;
left:0;
width:100%;
height:20px;
opacity:.6;
filter:alpha(opacity=60);
}

#page_header .container {
z-index:1;
position:relative;
}

#page_header:after {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.custom-parallax-wrapper h3,
#page_header h2 {
  color:#fff;
  font-family: Athelas;
  font-size:60px;
  font-style: italic;
}

.custom-parallax-wrapper h3 {
  padding-top:34px;
}

.divider-hover, .divider {
    background: url(images/hr.png) no-repeat center center;
}

#parallax-restaurant {
    background-image:url(../default/demos/restaurant-parallax.jpg);
}

#parallax-foods {
    background-image:url(../default/demos/restaurant-foods.jpg);
}


#parallax-video {
    background-image:url(../default/demos/parallax-video.jpg);
}
.owl-item p {
    color:#232323 !important;
}

#features .nav-tabs > li {
float:none!important;
border-right:1px solid #eee;
text-align:center;
display:inline-block!important;
margin:0;
padding:20px 60px;
}

#features .nav-tabs > li:last-child {
border-right:0;
}

#features .tab-content .title h3 {
padding-bottom:0;
text-transform:uppercase;
font-size:24px;
font-style:normal;
text-align:left;
font-weight:700;
}

#features .nav-tabs {
border:1px solid #ddd;
display:table;
float:none;
margin:auto;
}

#features .title h1 {
font-weight:300;
font-size:40px;
padding-bottom:5px;
text-transform:none;
}

#features .tab-content {
border:none;
border:0 !important;
}

#features .nav-tabs > li.active > a,#features .nav-tabs > li.active > a:hover,#features .nav-tabs > li.active > a:focus,#features .nav-tabs > li > a {
background:none repeat scroll 0 0 transparent;
border:medium none!important;
border-radius:0;
color:#282828!important;
font-weight:700;
text-align:center;
width:100%!important;
margin:0!important;
padding:0!important;
}

#features .nav-tabs > li.active > a,#features .nav-tabs > li.active > a:hover,#features .nav-tabs > li.active > a:focus {
color:#ff4d4d!important;
}

#features .nav-tabs > .nonvegtab a,#features .nav-tabs > .vegtab a,#features .nav-tabs > .vegtab.active > a:hover,#features .nav-tabs > .vegtab.active > a:focus,#features .nav-tabs > .vegtab.active > a,#features .nav-tabs > .nonvegtab.active > a:hover,#features .nav-tabs > .nonvegtab.active > a:focus,#features .nav-tabs > .nonvegtab.active > a {
color:#fff!important;
}

.menu-res .price h4,
#parallax-video h3,
.tp-caption.slider-title12,
.slider-title12{
  font-size:80px;
  line-height:80px;
  text-transform: uppercase;
  font-weight:300; 
  font-family: Athelas;
  color:rgb(255,255,255);
  text-decoration:none;
  font-style: italic;
  padding:0px;
  background-color:transparent;
  border-width:0px;
  border-color:rgb(255,255,255);
  border-style:none
}
.res-title h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.menu-res .item {
  margin:40px 0;
}
.menu-res img {
  width: 120px;
  display: inline-block;
}
.menu-res .price h4 {
  font-size:30px;
  line-height: 30px;
}
#parallax-video {
  padding:120px 0;
}
#parallax-video h3 {
  font-size:60px;
  line-height: 60px;
}

#parallax-video i {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
  font-size:21px;
  line-height: 80px;
  color:#fff;
  border:2px solid #fff;
}

.tp-caption.slider-title15,
.slider-title15{
  font-size:18px;
  line-height:32px;
  font-weight:300;
  color:rgb(255,255,255);
  text-decoration:none;
  background-color:transparent;
  border-width:0px;
  border-color:rgb(0,0,0);
  border-style:none
}

.custom-wrapper {
    background: #282828;
    display: block;
    padding: 80px 0;
    position: relative;
}

.color-red {
    background: #ff0000;
}
.custom-wrapper .input-group-addon,
.custom-wrapper .form-control {
    background: #2f2f2f;
    border-color:#343434;
    height: 50px;
}

.custom-wrapper h3 {
    color:#fff;
    line-height: 1.7;
    padding-bottom:40px;
}

.btn-primary {
    background: #ff0000;
    border-color:#ff0000;
}

.btn-transparent {
    border:2px solid #fff;
    background: transparent;
}

.icon-container .bubble {
    border-color: rgb(255,0,0);
}

.shop-desc .rating,
.bubble i,
.bubble,
.menu-res .price h4,
.navbar-nav > li > a:focus,
.navbar-nav > li > a.active,
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover {
    color: rgb(255,0,0) !important;
}

.menu-res .ImageWrapper {
  margin-right: 30px;
}

.bf ul.items.bflayhover li .caption, .ImageWrapper .ImageOverlayLi:before, .ImageWrapper:hover .ImageOverlayLi:before, .ImageWrapper .ImageOverlayLi:after, .ImageWrapper:hover .ImageOverlayLi:after,
.ImageWrapper.red-effect .ImageOverlayLi:before,
.ImageWrapper.red-effect:hover .ImageOverlayLi:before,
.ImageWrapper.red-effect .ImageOverlayLi:after,
.ImageWrapper.red-effect:hover .ImageOverlayLi:after {
    background: rgba(255,0,0,0.7) !important;
    color:#fff !important;
}

.vegs .ImageWrapper.red-effect .ImageOverlayLi:before,
.vegs .ImageWrapper.red-effect:hover .ImageOverlayLi:before,
.vegs .ImageWrapper.red-effect .ImageOverlayLi:after,
.vegs .ImageWrapper.red-effect:hover .ImageOverlayLi:after {
    background: rgba(75,156,53,0.7) !important;
    color:#fff !important;
  }

.vegs .menu-res .price h4 {
    color: rgb(75,156,53) !important;
}

.bf ul.filter li a.active,
.bf ul.filter li a:hover,
.pagination li > a:hover, .pagination li > span:hover,
.quote-post blockquote {
    background: rgb(255,0,0) !important;
    border-color: rgb(255,0,0) !important;
}
.ImageWrapper .StyleH  {
  margin-top:-10px;
}
.ImageWrapper .StyleH span a {
  color:#fff !important;
  font-family: Athelas;
  font-style: italic;
  margin-top: 10px;
}

.dropdown-submenu > .dropdown-menu li a:hover, 
.dropdown-submenu > .dropdown-menu li a:focus, 
.yamm .dropdown-menu li a:hover, 
.yamm .dropdown-menu li a:focus, 
.yamm .box li a:hover, 
.yamm .box li a:focus, 
.caps-desc p,
#page_header h2 span,
.icon-container i,
.icon-container .bubble,
#testimonial small,
a {
    color: rgb(255,0,0);
}


#topbar.darkbg .social-icons i:hover,
#style6 .social-icons i:hover,
.item figure,
#footer-second.footer .social-icons i:hover,
.progress-colorful,
#testimonial .owl-controls .owl-nav [class*="owl-"]:hover,
.section-colorful,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.team-member .social-icons i:hover,
.tooltip-inner,
.social-icons i:hover,
.mycolor {
  background: #343434; /* Old browsers */
  background: -moz-linear-gradient(top,  #343434 0%, #ff0000 0%, #343434 92%, #343434 100%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(0%,#ff0000), color-stop(92%,#343434), color-stop(100%,#343434), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #343434 0%,#ff0000 0%,#343434 92%,#343434 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #343434 0%,#ff0000 0%,#343434 92%,#343434 100%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #343434 0%,#ff0000 0%,#343434 92%,#343434 100%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #343434 0%,#ff0000 0%,#343434 92%,#343434 100%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#ff0000;}
    25% {height:30px;transform:translateY(15px);background:#e60b0b;}
    50% {height:5px;transform:translateY(0px);background:#970404;}
    100% {height:5px;transform:translateY(0px);background:#343434;}
}

.yamm .yamm-content, .dropdown-submenu > .dropdown-menu, .yamm .dropdown-menu {
      border-top-color: rgba(255,0,0,1);

}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(255,0,0,1);
}


.bf ul.items.bflayhover li .caption.white-effect  {
    background: rgba(255,255,255,0.7) !important;
    color:#fff !important;
}

