html
  head
    meta(charset='utf-8')
    title TheHufts
    meta(name='description', content='test page')
    meta(name='viewport', content='width=device-width')
    // Art's
    // Bootstrap Core CSS
    link(href='creativ/default/css/bootstrap.min.css', rel='stylesheet')
    link(href='creativ/default/css/font-awesome.css', rel='stylesheet')
    link(href='stylesheets/animate.css', rel='stylesheet')
    link(href='stylesheets/dashboard.css', rel='stylesheet')
    // Plugins CSS
    link(href='admin/plugins/sweetalert/sweetalert.css', rel='stylesheet')
    link(href='admin/plugins/codemirror/codemirror.css', rel='stylesheet')
    link(href='admin/plugins/codemirror/neo.css', rel='stylesheet')
    // Custom Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700,700italic,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  body
    style.
      textarea {
      color: pink;
      caret-color: red;
      }
    #loader
      .loader-container
        #preloader_1
          span
          span
          span
          span
          span
    header#header-one.dark-header.header
      .container-fluid
        .menu-wrapper
          nav#navigation.navbar.yamm(role='navigation')
            .navbar-inner
              .navbar-header
                a#brand.clearfix.navbar-brand(href='/landingPage')
                  img(src='', alt='TheHufts', data-selector='img')
                a#brand.clearfix.navbar-brand(href='/landingPage')
                  img(src='imgs/thehuftsbrain.png', alt='TheHufts', style='width:7%;height:7%', data-selector='img')
              // end navbar-header
              #navbar-collapse.navbar-right.navbar-collapse.collapse.clearfix
                ul.nav.navbar-nav
                  li.wps-half
                    a(href='/landingPage') Home
                  // end mega menu
                  if !user
                    li.wps-full
                      a#logIn(href='/logIn') Log In
                    li.wps-full
                      a#signUp(href='/register') Sign Up
                  else
                    li.wps-full
                      a#signOut(href='/logout') Sign Out
                  // end navbar-right
                .pull-right.clearfix
                  .right-menu
                    span
                  // end custom-menu
                // end widget
              // end navbar-callopse
            // end navbar-inner
          // end navigation
        // menu wrapper
    // end header
    .wrapper.wrapper-content(style='background: #f5f5f5; text-align: center')
      h2
        if user
          | Welcome, #{user.username}
        else
          | Welcome, Huft
        h2
          h3  Feel free to begin looking up the stocks you're interested in.
          .container
            .ibox.float-e-margins
              .ibox-content
                div
                  h2.font-bold.no-margins
                    | Stock Data
                .row
                  .col-lg-4
                    #stock-form-container
                      label  Enter Stock Ticker
                      form
                        input#stockSymbol(type='text', placeholder='stock symbol')
                        input.submit(type='submit', value='Submit')
                  .col-lg-offset-8
                    //
                      <form id="file-upload" class="dropzone dz-clickable" action="#">
                      <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
                      <div class="dz-default dz-message"><span><h4>Drag files or click here to upload</h4></span></div></form>
                    form
                      input#file-upload.filestyle(type='file', name='file', data-badge='false', data-input='false', data-buttonname='btn-primary', data-buttontext='Upload Algorithm')
                .row
                  .col-lg-7
                    .graph
                    .results
                  .col-lg-5
                    .ibox.float-e-margins
                      .ibox-title
                        h5 Current Algorithms:
                        .ibox-tools
                          a.collapse-link
                            i.fa.fa-chevron-up
                      .ibox-content
                        .table-responsive
                          table.table.table-striped
                            tbody#uploaded-algos-container
            .row
              #return.col-md-2
              #percentage.col-md-2
              #balance.col-md-2
              .col-lg-6
                .ibox.float-e-margins
                  .ibox-title
                    h5 New data for the report
                    .ibox-tools
                      a.collapse-link
                        i.fa.fa-chevron-up
                      a.dropdown-toggle(data-toggle='dropdown', href='#')
                        i.fa.fa-wrench
                      ul.dropdown-menu.dropdown-user
                        li
                          a(href='#') Config option 1
                        li
                          a(href='#') Config option 2
                      a.close-link
                        i.fa.fa-times
                  .ibox-content.ibox-heading
                    h3
                      | Stock price up
                      .stat-percent.text-navy
                        | 34%
                        i.fa.fa-level-up
                    small
                      i.fa.fa-stack-exchange
                      |  New economic data from the previous quarter.
                  .ibox-content
                    div
                      .pull-right.text-right
                        span.bar_dashboard(style='display: none;') 5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1
                        svg.peity(height='16', width='100')
                          rect(fill='#1ab394', x='0', y='7.111111111111111', width='2.2580645161290325', height='8.88888888888889')
                          rect(fill='#d7d7d7', x='3.2580645161290325', y='10.666666666666668', width='2.2580645161290325', height='5.333333333333333')
                          rect(fill='#1ab394', x='6.516129032258065', y='0', width='2.2580645161290325', height='16')
                          rect(fill='#d7d7d7', x='9.774193548387098', y='5.333333333333334', width='2.2580645161290325', height='10.666666666666666')
                          rect(fill='#1ab394', x='13.03225806451613', y='7.111111111111111', width='2.2580645161290325', height='8.88888888888889')
                          rect(fill='#d7d7d7', x='16.290322580645164', y='0', width='2.2580645161290325', height='16')
                          rect(fill='#1ab394', x='19.548387096774196', y='3.555555555555557', width='2.2580645161290325', height='12.444444444444443')
                          rect(fill='#d7d7d7', x='22.806451612903228', y='10.666666666666668', width='2.2580645161290325', height='5.333333333333333')
                          rect(fill='#1ab394', x='26.06451612903226', y='7.111111111111111', width='2.2580645161290325', height='8.88888888888889')
                          rect(fill='#d7d7d7', x='29.322580645161292', y='12.444444444444445', width='2.2580645161290325', height='3.5555555555555554')
                          rect(fill='#1ab394', x='32.58064516129033', y='8.88888888888889', width='2.2580645161290325', height='7.111111111111111')
                          rect(fill='#d7d7d7', x='35.83870967741936', y='3.555555555555557', width='2.2580645161290325', height='12.444444444444443')
                          rect(fill='#1ab394', x='39.09677419354839', y='10.666666666666668', width='2.2580645161290325', height='5.333333333333333')
                          rect(fill='#d7d7d7', x='42.35483870967742', y='12.444444444444445', width='2.2580645161290325', height='3.5555555555555554')
                          rect(fill='#1ab394', x='45.612903225806456', y='3.555555555555557', width='2.2580645161290325', height='12.444444444444443')
                          rect(fill='#d7d7d7', x='48.87096774193549', y='0', width='2.2580645161290325', height='16')
                          rect(fill='#1ab394', x='52.12903225806452', y='5.333333333333334', width='2.2580645161290325', height='10.666666666666666')
                          rect(fill='#d7d7d7', x='55.38709677419355', y='8.88888888888889', width='2.2580645161290325', height='7.111111111111111')
                          rect(fill='#1ab394', x='58.645161290322584', y='7.111111111111111', width='2.2580645161290325', height='8.88888888888889')
                          rect(fill='#d7d7d7', x='61.903225806451616', y='3.555555555555557', width='2.2580645161290325', height='12.444444444444443')
                          rect(fill='#1ab394', x='65.16129032258065', y='10.666666666666668', width='2.2580645161290325', height='5.333333333333333')
                          rect(fill='#d7d7d7', x='68.41935483870968', y='12.444444444444445', width='2.2580645161290325', height='3.5555555555555554')
                          rect(fill='#1ab394', x='71.67741935483872', y='14.222222222222221', width='2.2580645161290325', height='1.7777777777777777')
                          rect(fill='#d7d7d7', x='74.93548387096774', y='15', width='2.2580645161290325', height='1')
                          rect(fill='#1ab394', x='78.19354838709678', y='0', width='2.2580645161290325', height='16')
                          rect(fill='#d7d7d7', x='81.45161290322581', y='7.111111111111111', width='2.2580645161290325', height='8.88888888888889')
                          rect(fill='#1ab394', x='84.70967741935485', y='5.333333333333334', width='2.2580645161290325', height='10.666666666666666')
                          rect(fill='#d7d7d7', x='87.96774193548387', y='1.7777777777777786', width='2.2580645161290325', height='14.222222222222221')
                          rect(fill='#1ab394', x='91.22580645161291', y='10.666666666666668', width='2.2580645161290325', height='5.333333333333333')
                          rect(fill='#d7d7d7', x='94.48387096774194', y='12.444444444444445', width='2.2580645161290325', height='3.5555555555555554')
                          rect(fill='#1ab394', x='97.74193548387098', y='14.222222222222221', width='2.2580645161290325', height='1.7777777777777777')
                        br
                        small.font-bold $ 20 054.43
                      h4
                        | NYS report new data!
                        br
                        small.m-r
                          a(href='graph_flot.html')  Check the stock price!
    textarea#code1
      script.
        // Code goes here
        // For demo purpose - animation css script
        function animationHover(element, animation){
        element = $(element);
        element.hover(
        function() {
        element.addClass('animated ' + animation);
        },
        function(){
        //wait for animation to finish before removing classes
        window.setTimeout( function(){
        element.removeClass('animated ' + animation);
        }, 2000);
        });
        }
    // Art's scripts
    // jQuery
    script(src='creativ/default/js/jquery.js')
    script(src='creativ/default/js/bootstrap.min.js')
    script(src='creativ/default/js/retina.js')
    script(src='creativ/default/js/home-scripts.js')
    // Mainly scripts
    script(src='admin/plugins/metisMenu/jquery.metisMenu.js')
    script(src='admin/plugins/slimscroll/jquery.slimscroll.min.js')
    // Custom and plugin javascript
    script(src='admin/inspinia.js')
    script(src='admin/plugins/filestyle/src/bootstrap-filestyle.min.js')
    script(src='admin/plugins/sweetalert/sweetalert.min.js', type='text/javascript')
    // CodeMirror
    script(src='admin/plugins/codemirror/codemirror.js')
    script(src='admin/plugins/codemirror/mode/javascript/javascript.js')
    script.
      $(document).ready(function(){
      var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true,
      theme:"neo"
      });
      });
    //if lt IE 10
      script(src='assets/js/placeholder.js')
    // initialize globoal js variables
    script(type='text/javascript', src='/javascript/globalVariables.js')
    // Graph's scripts
    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='https://code.highcharts.com/stock/highcharts-more.js')
    script(src='https://code.highcharts.com/stock/modules/exporting.js')
    script(type='text/javascript', src='/javascript/query.js')
    // CodeMirror
    script(src='admin/plugins/codemirror/codemirror.js')
    script(src='admin/plugins/codemirror/mode/javascript/javascript.js')
    // Login scripts
    script(src='https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js')
    script(src='https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js')
    script(type='text/javascript', src='/uploadAlgo.js')
    script(type='text/javascript', src='/logoutFront.js')
