doctype html
html.
  <head>
    <meta charset="utf-8">

    <title>TheHufts</title>
    <meta name="description" content="test page">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    <script type="text/javascript" src="/javascript/query.js"></script>
    <script type="text/javascript" src="/javascript/keys/parseSecrets.js"></script>
    <script type="text/javascript" src="/javascript/uploadAlgo.js"></script>

  </head>
  <body>
      <h2> Welcome, Huft <h2>
      <h3> Feel free to begin looking up the stocks you're interested in.</h3>
      <h3 id="upload"> Upload an algorithm </h3>

      <br>
        <div id="stock-form-container">
          <input type="text"   id="stockSymbol" placeholder="stock symbol">
          <input type="submit" class="submit">
        </div>
        <div id="upload-algo-container">
          <input type="file" name="file" id="file-upload">
        </div>
        <div id="uploaded-algos-container">

        </div>
     <div class="graph">
     </div>
  </body>

