html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title TheHufts
    // PORTFOLIO AND LIGHTBOX SETTINGS
    link(href='creativ/default/bfassets/css/bootFolio.css', rel='stylesheet')
    link(href='creativ/default/bfassets/css/prettyPhoto.css', rel='stylesheet')
    // Bootstrap Core CSS
    link(href='creativ/default/css/animate.min.css', rel='stylesheet')
    link(href='creativ/default/css/owl-carousel.css', rel='stylesheet')
    link(href='creativ/default/css/font-awesome.css', rel='stylesheet')
    link(href='creativ/default/css/et-icons.css', rel='stylesheet')
    link(href='creativ/default/css/bootstrap.min.css', rel='stylesheet')
    link(href='creativ/default/css/flexslider.css', rel='stylesheet')
    link(href='stylesheets/default-style.css', rel='stylesheet')
    link(href='stylesheets/landing-page.css', rel='stylesheet')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700,700italic,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #loader
      .loader-container
        #preloader_1
          span
          span
          span
          span
          span
    header#header-one.dark-header.header
      .container-fluid
        .menu-wrapper
          nav#navigation.navbar.yamm(role='navigation')
            .navbar-inner
              .navbar-header
                a#brand.clearfix.navbar-brand(href='/landingPage')
                  img(src='imgs/thehuftsname.png', alt='TheHufts', style='width:7%;height:7%', data-selector='img')
              // end navbar-header
              .navbar-right
                ul.nav.navbar-nav
                  li.wps-half
                    a(href='/landingPage') Home
                  if user
                    li.wps-full
                      a(href="/dashboard?username=#{user.session_id}") Dash board
                  // end mega menu
                  if !user
                    li.wps-full
                      a(href='/logIn') Log In
                    li.wps-full
                      a(href='/register') Sign Up
                  // end navbar-right
                .pull-right.clearfix
                  .right-menu
                    span
                  // end custom-menu
                // end widget
              // end navbar-right
            // end navbar-inner
          // end navigation
        // menu wrapper
    // end header
    section.meta-wrapper.section-parallax(style="background-image: url('http://www.todayonline.com/sites/default/files/styles/photo_gallery_image_lightbox/public/16780028.JPG?itok=uHIy2m0P');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='0')
      #page_header
        .container.text-left
          br
          h2(style="color:black; font-family: Georgia, 'Times New Roman', Times, serif")  Beat the Market
          p(style='color:black') Code your own algorithm today!
          a#readMore.btn.btn-primary.border-radius(href='#', title='') Read More
          a.btn.btn-primary.border-radius.btn-transparent(href='/dashboard', title='') Get in now
      // end page_header
    // end section
    section#about.section-gray.clearfix
      .container
        .row
          .col-md-6.col-sm-6.col-xs-12
            .shortcode-widget.section-content
              .section-title.text-left
                h3
                  | About
                  span.baron(style='color: #18e2ba') TheHufts
              // end section title
              p
                | TheHufts is a small team dedicated to the overall democratization of algorithmic stocktrading. Our mission is to enable everyday people with or without techinal skills to have use of the same calliber trading strategies only available to larger market players.
              p
                | We provide a platform and enviorment that allows you to upload and backtest your own algorithms against historical data. We've streamlined the process of gathering historical stock data and vizualizing the results, allowing aspiring and established traders to focus on the strategies and algorithms.
              p
                | Protection of intellectual property is something we take seriously and to that end we have undergone many steps to securing all files and account information. No file or password is ever directly stored, ensuring you that the contents of what you upload are safe. Any file that you upload is yours alone and will always remain your intellectual property.
              br
            // end col
          // end col
          .col-lg-6
            img(src='imgs/thehufts.png', style='width:100%;height:100%')
        // end row
      // end container
    // end section gray
    section.meta-wrapper.section-parallax(style='background-image: url(imgs/new-york-city-skyscrapers-hd-wallpaper-47446.jpg);', data-stellar-background-ratio='0.7', data-stellar-vertical-offset='0')
    // end section
    section#services.section-white.clearfix
      .section-title
        h3 Our Services
        .divider
        p
          | We provide services to people who seek to create and train their own stock algorithms as well as to those who are just looking use algorithmic trading strategies for their own funds.
      // end section title
      .container
        #colorful-tab(role='tabpanel')
          // Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li.color-blue.border-radius.active(role='presentation')
              a(href='#home', aria-controls='home', role='tab', data-toggle='tab', aria-expanded='true')
                i.fa.fa-laptop
            li.color-green.border-radius(role='presentation')
              a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab', aria-expanded='false')
                i.fa.fa-gears
            li.color-purple.border-radius(role='presentation')
              a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab', aria-expanded='false')
                i.fa.fa-leaf
          // Tab panes
          .tab-content
            #home.tab-pane.fade.color-blue.active.in(role='tabpanel')
              .service_vertical_box
                .service-icon
                  img.img-circle(src='http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png', alt='', data-selector='img')
                h3(data-selector='h3') Platform testing
                p(data-selector='p')
                  | The platform provides an easy way determine the outcome of any trading strategy and visually see the results graphed for you along with relevant statistics. We also have provided an interface to optimize any parameters an algorithm may use to obtain the best trading results.
              // end service_vertical_box
            #profile.tab-pane.fade.color-green(role='tabpanel')
              .service_vertical_box
                .service-icon
                  img.img-circle(src='http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png', alt='', data-selector='img')
                h3(data-selector='h3', src='http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png') Real Time Stock Data
                p(data-selector='p')
                  | We collect intra-day data of up to 30-second granularity on select stocks continously throught each day. We also provide historical closing prices for any stock. Algorithms can be set to take in a live data feed from a selected stock and have the results updated in realtime.
              // end service_vertical_box
            #messages.tab-pane.fad.color-purple(role='tabpanel')
              .service_vertical_box
                .service-icon
                  img.img-circle(src='http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png', alt='', data-selector='img')
                h3(data-selector='h3') Competitive Algorithms
                p(data-selector='p')
                  | TheHufts offers access to the best trading algorithms available putting our users way ahead of the market.
              // end service_vertical_box
      // end coloful-tab
      // end container
    // end section white
    footer#footer-second.footer.clearfix(style='background: black')
      #contact.container
        .row
          .col-lg-12.col-md-12.col-xs-12
            .widget.text-center.wow.fadeIn.animated(style='visibility: visible; animation-name: fadeIn;')
              .about-widget
                img(src='imgs/thehufts2.png', style='width:200px; heigh: 200px', alt='TheHufts', data-selector='img')
                p
                  | 633 Folsom St. San Francisco, Ca
                  br
                  |                                     Email:
                  br
                .social-icons.clearfix
                  span
                    a(data-rel='tooltip', data-toggle='tooltip', data-trigger='hover', data-placement='bottom', data-title='Facebook', href='#', data-original-title='', title='')
                      i.fa.fa-facebook
                  span
                    a(data-rel='tooltip', data-toggle='tooltip', data-trigger='hover', data-placement='bottom', data-title='Google Plus', href='#', data-original-title='', title='')
                      i.fa.fa-google-plus
                  span
                    a(data-rel='tooltip', data-toggle='tooltip', data-trigger='hover', data-placement='bottom', data-title='Twitter', href='https://twitter.com/TheHufts', data-original-title='', title='')
                      i.fa.fa-twitter
                  span
                    a(data-rel='tooltip', data-toggle='tooltip', data-trigger='hover', data-placement='bottom', data-title='Dribbble', href='#', data-original-title='', title='')
                  span
                    a(data-rel='tooltip', data-toggle='tooltip', data-trigger='hover', data-placement='bottom', data-title='Pinterest', href='#', data-original-title='', title='')
                // end social icons
                .copybuttons.clearfix
                // end buttons
                .copytext.clearfix
              // end about-widget
            // end widget
          // end col-lg-3
        // end row
      // end container
    // end footer
    // /#wrapper
    // initialize globoal js variables
    script(type='text/javascript', src='/javascript/globalVariables.js')
    // jQuery
    script(src='creativ/default/js/jquery.js')
    script(src='creativ/default/js/bootstrap.min.js')
    script(src='creativ/default/js/retina.js')
    script(src='creativ/default/js/text-rotate.js')
    script(src='creativ/default/js/wow.min.js')
    script(src='creativ/default/js/jquery.stellar.js')
    script(src='creativ/default/js/home-scripts.js')
    script(src='creativ/default/js/smooth-scroll.js')
    script(src='creativ/default/js/jquery.flexslider.js')
    // Portfolio
    script(src='creativ/default/js/jquery.isotope.min.js')
    script(src='creativ/default/js/portfolio_01.js')
    // Carousel
    script(src='creativ/default/js/owl.carousel.js')
    script(src='creativ/default/js/owl-scripts.js')
    // FlexSlider Scripts
    script(src='creativ/default/js/jquery.flexslider.js')
    // SLIDER REVOLUTION 4.x SCRIPTS
    script(type='text/javascript', src='creativ/default/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='creativ/default/rs-plugin/js/jquery.themepunch.revolution.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $('#readMore').on('click', function(e){
      e.preventDefault();
      $('html, body').animate({
      scrollTop: $("#about").offset().top
      }, 1000);
      });
      });
