doctype html
html.
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>TheHufts</title>

      <!-- Favicons
      ================================================== -->
      <link rel="shortcut icon" href="creativ/creativ/images/favicon.ico">
      <link rel="apple-touch-icon" href="creativ/creativ/images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="creativ/creativ/images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="creativ/creativ/images/apple-touch-icon-114x114.png">

      <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
      <link rel="stylesheet" type="text/css" href="creativ/creativ/default/css/extralayers.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="creativ/creativ/default/rs-plugin/css/settings.css" media="screen" />

      <!-- PORTFOLIO AND LIGHTBOX SETTINGS -->
      <link href="creativ/creativ/default/bfassets/css/bootFolio.css" rel="stylesheet">
      <link href="creativ/creativ/default/bfassets/css/prettyPhoto.css" rel="stylesheet">

      <!-- Bootstrap Core CSS -->
      <link href="creativ/creativ/default/css/bootstrap.min.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/flexslider.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/font-awesome.css" rel="stylesheet">
      <link href="creativ/creativ/medical/css/et-icons.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/animate.min.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/owl-carousel.css" rel="stylesheet">
      <link href="creativ/creativ/default/style.css" rel="stylesheet">
      <link href="creativ/creativ/medical/medical-style.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>

      <div id="loader">
          <div class="loader-container">
              <div id="preloader_1">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>



        <div id="collapse1" class="collapse myform">
            <div class="container-fluid ">
                <div class="topbar">
                    <form role="search" action="#" class="search_form_top" method="get">
                        <input type="text" placeholder="What are you looking for?" name="s" class="form-control" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>

        <header id="header-one" class="dark-header header">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <nav id="navigation" class="navbar yamm" role="navigation">
                        <div class="navbar-inner">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </button>
                                <a id="brand" class="clearfix navbar-brand" href="index.html"><img src="" alt="TheHufts" data-selector="img"></a>
                            </div><!-- end navbar-header -->
                            <div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                                <ul class="nav navbar-nav">
                                    <li class="wps-half"><a href="#">Home</a>
                                        </li><!-- end mega menu -->
                                        <li class="wps-full"><a href="#services">Services</a>

                                    <li><a href="#contact">Contact</a></li>
                                </ul><!-- end navbar-right -->
                                <div class="pull-right clearfix">
                                    <div class="right-menu">
                                        <span></span>
                                    </div><!-- end custom-menu -->
                                </div><!-- end widget -->
                            </div><!-- end navbar-callopse -->
                        </div><!-- end navbar-inner -->
                    </nav><!-- end navigation -->
                </div><!-- menu wrapper -->
            </div>
        </header><!-- end header -->


        <section class="slider-wrapper">
            <article class="fullwidth-container">
                <div class="tp-banner-container" style="overflow: visible;">
                    <div class="tp-banner  revslider-initialised tp-simpleresponsive" id="revslider-662" style="height: 700px; backface-visibility: hidden; transform-style: preserve-3d; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); perspective: 2500px;">
                        <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="demos/slider_01.jpg" data-saveperformance="on" data-title="HTML" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; position: absolute; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">
                                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="demos/slider_01.jpg" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="demos/slider_01.jpg" data-src="images/dummy.png" style="width: 100%; height: 100%; opacity: 1; visibility: inherit; background-image: url(http://www.todayonline.com/sites/default/files/styles/photo_gallery_image_lightbox/public/16780028.JPG?itok=uHIy2m0P); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                                <!-- LAYER NR. 1 -->
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption slider-title tp-fade tp-resizeme start" data-x="left" data-hoffset="0" data-y="center" data-voffset="-100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 41.5px; top: 180px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Great <span style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">experiences</span> build great<br style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
                                  products.</div>
                                <div class="tp-caption slider-title2 tp-fade tp-resizeme start" data-x="" data-hoffset="0" data-y="center" data-voffset="20" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 41.5px; top: 338px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Creativ is the first  and trendy awesome creative multipurpose design with full pack of joy.<br style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px;"> Built by designers, for designers.
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-y="center" data-voffset="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 41.5px; top: 426px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#about" title="" class="btn btn-primary btn-lg border-radius" src="images/white-logo.png" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Read More</a>
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-hoffset="194" data-y="center" data-voffset="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 235.5px; top: 426px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#" title="" class="btn btn-primary btn-lg border-radius btn-transparent" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Get in now</a>
                                </div>
                            </li>
                            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="demos/slider_05.jpg" data-saveperformance="on" data-title="HTML" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; position: absolute; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">
                                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="demos/slider_05.jpg" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="demos/slider_05.jpg" data-src="images/dummy.png" style="width: 100%; height: 100%; opacity: 0; visibility: hidden; background-image: url(http://jollythemes.com/html/creativ/builder/elements/demos/slider_05.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                                <!-- LAYER NR. 1 -->
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption slider-title-baron tp-fade tp-resizeme start" data-x="left" data-hoffset="0" data-y="center" data-voffset="-90" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; left: 41.5px; top: 208.5px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="creativ/creativ/default/demos/slider_logo_2.png" alt="" data-selector="img" style="width: 103px; height: 103px;"> Smart - Stylish - Powerful
                                </div>
                                <div class="tp-caption slider-title2 tp-fade tp-resizeme start" data-x="" data-hoffset="0" data-y="center" data-voffset="20" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 41.5px; top: 354px;">content</div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-y="center" data-voffset="110" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 41.5px; top: 436px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#" title="" class="btn btn-primary btn-lg border-radius" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Read More</a>
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-hoffset="194" data-y="center" data-voffset="110" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 235.5px; top: 436px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#" title="" class="btn btn-primary btn-lg border-radius btn-transparent" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Get in now</a>
                                </div>
                            </li>
                            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="demos/slider_03.jpg" data-saveperformance="on" data-title="HTML" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1; z-index: 20; position: absolute;">
                                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="demos/slider_03.jpg" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="demos/slider_03.jpg" data-src="images/dummy.png" style="width: 100%; height: 100%; visibility: inherit; opacity: 1; background-image: url(http://www.todayonline.com/sites/default/files/styles/photo_gallery_image_lightbox/public/16780028.JPG?itok=uHIy2m0P); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                                <!-- LAYER NR. 1 -->
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption slider-title white-color tp-fade tp-resizeme start" data-x="left" data-hoffset="0" data-y="center" data-voffset="-100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 41.5px; top: 210px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><p style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px 0px 10px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
                                  <p>Beat the Market</p></div>
                                <div class="tp-caption slider-title2 white-color tp-fade tp-resizeme start" data-x="" data-hoffset="0" data-y="center" data-voffset="20" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 41.5px; top: 333px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><p style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px 0px 10px; padding: 0px; letter-spacing: 0px; font-size: 18px;">
                                  <p>TheHufts is a stock trading algorithm testing platform</p>
                                    <p>Built by traders, for traders.</p></div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-y="center" data-voffset="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 41.5px; top: 426px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><a href="#about" title="" class="btn btn-primary btn-lg border-radius" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Read More</a>
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption slider-btn tp-fade tp-resizeme start" data-x="left" data-hoffset="194" data-y="center" data-voffset="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 235.5px; top: 426px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><a href="#" title="" class="btn btn-primary btn-lg border-radius btn-transparent" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 2px; margin: 0px; padding: 13px 57px; letter-spacing: 0px; font-size: 14px;">Get in now</a>
                                </div>
                            </li>
                        </ul>
                    <div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: visible; width: 88.0333%; transform: translate3d(0px, 0px, 0px);"></div></div>
                <div class="tp-bullets simplebullets preview4 hidebullets" style="bottom: 20px; left: 50%; margin-left: -27px;"><div class="bullet first"></div><div class="bullet"></div><div class="bullet last selected"></div><div class="tpclear"></div></div><div style="position: absolute; top: 320px; margin-top: -55px; left: 0px;" class="tp-leftarrow tparrows default preview4 hidearrows"><div class="tp-arr-allwrapper" style="visibility: hidden; opacity: 0;"><div class="tp-arr-iwrapper" style="transform: matrix(1, 0, 0, 1, -180, 0);"><div class="tp-arr-imgholder" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(http://jollythemes.com/html/creativ/builder/elements/demos/slider_05.jpg);"></div><div class="tp-arr-imgholder2" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(http://jollythemes.com/html/creativ/builder/elements/demos/slider_05.jpg);"></div><div class="tp-arr-titleholder">HTML</div><div class="tp-arr-subtitleholder"></div></div></div></div><div style="position: absolute; top: 320px; margin-top: -55px; right: 0px;" class="tp-rightarrow tparrows default preview4 hashoveralready hidearrows"><div class="tp-arr-allwrapper" style="visibility: hidden; opacity: 0;"><div class="tp-arr-iwrapper" style="transform: matrix(1, 0, 0, 1, 180, 0);"><div class="tp-arr-imgholder" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(http://jollythemes.com/html/creativ/builder/elements/demos/slider_01.jpg);"></div><div class="tp-arr-imgholder2" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(http://jollythemes.com/html/creativ/builder/elements/demos/slider_01.jpg);"></div><div class="tp-arr-titleholder">HTML</div><div class="tp-arr-subtitleholder"></div></div></div></div></div>
            </article>
        </section><!-- end section -->



        <section id="about" class="section-gray clearfix">
            <div  class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="shortcode-widget section-content">
                            <div class="section-title text-left">
                                <h3 src="demos/slider_logo_2.png">About <span class="baron" style="color:blue">TheHufts</span></h3>
                            </div><!-- end section title -->
                            <p>Nunc et risus in massa mattis lacinia. Pellentesque ornare mi sit amet purus malesuada blandit. Quisque scelerisque a lectus vel ornare. Etiam pellentesque justo ipsum, et pretium felis vulputate mattis ac.. </p>

                            <p>Oliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed</p>

                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non tristique sit ametac...</p><br>
                        </div><!-- end col -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section gray -->



        <section id="services" class="section-white clearfix">
            <div class="section-title">
                <h3>Our Services</h3>
                <div class="divider"></div>
                <p>Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien<br> ultricies. Donec mollis lorem vehicula.</p>
            </div><!-- end section title -->

            <div class="container">
                <div id="colorful-tab" role="tabpanel">
                      <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="color-blue border-radius active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-laptop"></i></a></li>
                        <li role="presentation" class="color-green border-radius"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-gears"></i></a></li>
                        <li role="presentation" class="color-purple border-radius"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-leaf"></i></a></li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade color-blue active in" id="home">
                            <div class="service_vertical_box">
                                <div class="service-icon">
                                    <img src="http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png" alt="" class="img-circle" data-selector="img">
                                </div>
                                <h3 data-selector="h3">Platform testing</h3>
                                    <p data-selector="p">Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum.  Ovelit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus.</p>
                            </div><!-- end service_vertical_box -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade color-green" id="profile">
                            <div class="service_vertical_box">
                                <div class="service-icon">
                                    <img src="http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png" alt="" class="img-circle" data-selector="img">
                                </div>
                                <h3 data-selector="h3" src="http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png">Real Time Stock Data</h3>
                                    <p data-selector="p">Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum.  Ovelit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus.</p>
                            </div><!-- end service_vertical_box -->
                        </div>
                        <div role="tabpanel" class="tab-pane fad color-purple" id="messages">
                            <div class="service_vertical_box">
                                <div class="service-icon">
                                    <img src="http://lh5.ggpht.com/_REjxFT6xdwQ/TO7A58YDziI/AAAAAAAABWM/IwcploySGr0/Stock.png" alt="" class="img-circle" data-selector="img">
                                </div>
                                <h3 data-selector="h3">Competitive Algorithms</h3>
                                    <p data-selector="p">Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum.  Ovelit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus.</p>
                            </div><!-- end service_vertical_box -->
                        </div>

                        </div>
                    </div>
                </div><!-- end coloful-tab -->
            <!-- end container -->
        </section><!-- end section white -->




        <footer id="footer-second" class="footer clearfix">
            <div id="contact" class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="widget text-center wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                            <div class="about-widget">
                                <img src="" alt="TheHufts" data-selector="img">
                                <p>633 Folsom St. San Francisco, Ca<br>
                                    Email:<br></p>
                                <div class="social-icons clearfix">
                                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#" data-original-title="" title=""><i class="fa fa-facebook"></i></a></span>
                                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#" data-original-title="" title=""><i class="fa fa-google-plus"></i></a></span>
                                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#" data-original-title="" title=""><i class="fa fa-twitter"></i></a></span>
                                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Dribbble" href="#" data-original-title="" title=""></a></span>
                                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Pinterest" href="#" data-original-title="" title=""></a></span>
                                </div><!-- end social icons -->
                                <div class="copybuttons clearfix">

                                </div><!-- end buttons -->
                                <div class="copytext clearfix">

                                </div>
                            </div><!-- end about-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col-lg-3 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->










      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="creativ/creativ/default/js/jquery.js"></script>
      <script src="creativ/creativ/default/js/bootstrap.min.js"></script>
      <script src="creativ/creativ/default/js/retina.js"></script>
      <script src="creativ/creativ/default/js/text-rotate.js"></script>
      <script src="creativ/creativ/default/js/wow.min.js"></script>
      <script src="creativ/creativ/default/js/jquery.stellar.js"></script>
      <script src="creativ/creativ/default/js/home-scripts.js"></script>
      <!-- Portfolio -->
      <script src="creativ/creativ/default/js/jquery.isotope.min.js"></script>
      <script src="creativ/creativ/default/js/portfolio_01.js"></script>
      <!-- Carousel -->
      <script src="creativ/creativ/default/js/owl.carousel.js"></script>
      <script src="creativ/creativ/default/js/owl-scripts.js"></script>
      <!-- FlexSlider Scripts-->
      <script src="creativ/creativ/default/js/jquery.flexslider.js"></script>
      <script type="text/javascript">
      (function($) {
        "use strict";
          $('.flexslider').flexslider({
              animation: 'fade',
              slideshow: false,
              controlNav: true,
              animationLoop: true,
            });
      })(jQuery);
      </script>

  </body>
  </html>

