doctype html
html.
  <head>
    <meta charset="utf-8">
    <title>TheHufts</title>
  </head>

  <body>
  <h1 style="height:1200px" class="scrollflow -slide-top -opacity">Slide-Top with opacity fading</h1>
  <p class="scrollflow -pop -opacity">Pop-Effect</p>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="scrollflow/js/eskju.jquery.scrollflow.js"></script>
  <script>
  $(document).ready(function(){
        new ScrollFlow();
    });
  </script>
  </body>

</html>


