doctype html
html.
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>TheHufts</title>

      <!-- Favicons
      ================================================== -->
      <link rel="shortcut icon" href="creativ/creativ/images/favicon.ico">
      <link rel="apple-touch-icon" href="creativ/creativ/images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="creativ/creativ/images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="creativ/creativ/images/apple-touch-icon-114x114.png">

      <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
      <link rel="stylesheet" type="text/css" href="creativ/creativ/default/css/extralayers.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="creativ/creativ/default/rs-plugin/css/settings.css" media="screen" />

      <!-- PORTFOLIO AND LIGHTBOX SETTINGS -->
      <link href="creativ/creativ/default/bfassets/css/bootFolio.css" rel="stylesheet">
      <link href="creativ/creativ/default/bfassets/css/prettyPhoto.css" rel="stylesheet">

      <!-- Bootstrap Core CSS -->
      <link href="creativ/creativ/default/css/bootstrap.min.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/flexslider.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/font-awesome.css" rel="stylesheet">
      <link href="creativ/creativ/medical/css/et-icons.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/animate.min.css" rel="stylesheet">
      <link href="creativ/creativ/default/css/owl-carousel.css" rel="stylesheet">
      <link href="creativ/creativ/default/style.css" rel="stylesheet">
      <link href="creativ/creativ/medical/medical-style.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>

      <div id="loader">
          <div class="loader-container">
              <div id="preloader_1">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>


        <header id="header-one" class="dark-header header">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <nav id="navigation" class="navbar yamm" role="navigation">
                        <div class="navbar-inner">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </button>
                                <a id="brand" class="clearfix navbar-brand" href="index.html"><img src="" alt="TheHufts" data-selector="img"></a>
                            </div><!-- end navbar-header -->
                            <div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                                <ul class="nav navbar-nav">
                                    <li class="wps-half"><a href="#">Home</a>
                                        </li><!-- end mega menu -->
                                        <li class="wps-full"><a href="#">Log In</a>
                                        <li class="wps-full"><a href="#">Sign Up</a>
                                </ul><!-- end navbar-right -->
                                <div class="pull-right clearfix">
                                    <div class="right-menu">
                                        <span></span>
                                    </div><!-- end custom-menu -->
                                </div><!-- end widget -->
                            </div><!-- end navbar-callopse -->
                        </div><!-- end navbar-inner -->
                    </nav><!-- end navigation -->
                </div><!-- menu wrapper -->
            </div>
        </header><!-- end header -->

      <!-- jQuery -->
      <script src="creativ/creativ/default/js/jquery.js"></script>
      <script src="creativ/creativ/default/js/bootstrap.min.js"></script>
      <script src="creativ/creativ/default/js/retina.js"></script>
      <script src="creativ/creativ/default/js/text-rotate.js"></script>
      <script src="creativ/creativ/default/js/wow.min.js"></script>
      <script src="creativ/creativ/default/js/jquery.stellar.js"></script>
      <script src="creativ/creativ/default/js/home-scripts.js"></script>
      <script src="creativ/creativ/default/js/smooth-scroll.js"></script>
      <script src="creativ/creativ/default/js/jquery.flexslider.js"></script>


      <!-- Portfolio -->
      <script src="creativ/creativ/default/js/jquery.isotope.min.js"></script>
      <script src="creativ/creativ/default/js/portfolio_01.js"></script>
      <!-- Carousel -->
      <script src="creativ/creativ/default/js/owl.carousel.js"></script>
      <script src="creativ/creativ/default/js/owl-scripts.js"></script>
      <!-- FlexSlider Scripts-->
      <script src="creativ/creativ/default/js/jquery.flexslider.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="creativ/creativ/default/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="creativ/creativ/default/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('.flexslider').flexslider({
              animation: 'fade',
              slideshow: false,
              controlNav: true,
              animationLoop: true,
          });
        });
      </script>

  </body>
  </html>
