doctype html
html.
    <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en-US">  <!--<![endif]-->
      <head>
        <title>TheHufts - Coming Soon</title>

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/creativ/default/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/subscription.css" >

        <!-- CSS Implementing Plugins -->
        <link href="/creativ/default/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/subscription/plugins/css/ionicons.min.css">
        <link rel="stylesheet" href="/creativ/default/css/animate.min.css">
        <link rel="stylesheet" href="/creativ/default/css/flexslider.css">
        <link rel="stylesheet" href="/subscription/plugins/css/vegas.min.css">
        <link rel="stylesheet" href="/subscription/plugins/css/nivo-lightbox.css">
        <link rel="stylesheet" href="/subscription/plugins/nivo-lightbox/themes/default/default.css" type="text/css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

        <!--[if lt IE 11]>
          <link rel="stylesheet" type="text/css" href="css/ie.css">
        <![endif]-->

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900' rel='stylesheet' type='text/css'>

        <!-- JS -->
        <script type="text/javascript" src="/subscription/plugins/js/modernizr.js"></script>
      </head>
      <body>

        <!-- START PRELOADER -->
        <div id="preloader">
          <div id="loading-animation">&nbsp;</div>
        </div>
        <!-- END PRELOADER -->

        <!-- Site Logo -->
        <div class="site-logo">
          <a href="#home" class="move-to">
            <img src="/imgs/thehufts2.png" style="height:200;width:150px; background-color:#C0C0C0 " alt="" />
          </a>
        </div>

        <!-- Site Nav -->
        <nav class="site-nav">
          <ul>
            <li><a href="#home" title="Home" class="move-to active"><span></span></a></li>
            <li><a href="#about" title="About" class="move-to"><span></span></a></li>
            <li><a href="#subscribe" title="Subscribe" class="move-to"><span></span></a></li>
            <li><a href="#services" title="Services" class="move-to"><span></span></a></li>
            <li><a href="#contact" title="Contact" class="move-to"><span></span></a></li>
          </ul>
          <div class="line vertical top"></div>
          <div class="line vertical bottom"></div>
        </nav>

        <div class="main-container">

          <!-- Home Section -->
          <section id="home" class="section home on-menu fullscreen-element">
            <div class="section-container">
              <div class="element-table">
                <div class="table-cell">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-7 text-left">
                        <h2 class="bottom-margin animated" data-animation="fadeInUp" data-animation-delay="700">Want to beat the market consistently? Let us show you how!</h2>
                        <div class="buttons-group animated" data-animation="fadeInUp" data-animation-delay="800">
                          <a href="#subscribe" class="button button-border button-white move-to">Subscribe</a>
                          <a href="#about" class="button button-link button-white move-to">Learn more <i class="fa fa-angle-down"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- About Section -->
          <section id="about" class="section on-menu fullscreen-element">
            <div class="section-container">
              <div class="element-table">
                <div class="table-cell">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">

                        <div class="section-header animated" data-animation="fadeInUp" data-animation-delay="700">
                          <h2 class="section-title">About Us</h2>
                          <div class="line-separate line-white line-center"><span></span></div>
                          <p>Everything you need to know about our Company</p>
                        </div>
                        <div class="row animated" data-animation="fadeInUp" data-animation-delay="800">
                          <div class="col-md-4 text-left">
                            <div class="heading-block">
                              <h4>Why choose <span>Us</span>.</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>
                          </div>
                          <div class="col-md-4 text-left">
                            <div class="heading-block">
                              <h4>Our <span>Mission</span>.</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>
                          </div>
                          <div class="col-md-4 text-left">
                            <div class="heading-block">
                              <h4>What we <span>Do</span>.</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Subscribe Section -->
          <section id="subscribe" class="section on-menu fullscreen-element">
            <div class="section-container">
              <div class="element-table">
                <div class="table-cell">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1 text-center">

                        <div class="section-header animated" data-animation="fadeInUp" data-animation-delay="700">
                          <h2 class="section-title">Subscribe</h2>
                          <div class="line-separate line-white line-center"><span></span></div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <!-- Subscribe Form -->
                        <div class="form animated" data-animation="fadeInUp" data-animation-delay="800">
                          <div class="form-container">
                            <div class="page-section" id="signup">
                              <form class="subscription-form mailchimp" method="post" id="mc-form">
                                <input type="email" id="email" class="width-auto no-bottom-margin" name="email" placeholder="Enter Your Email Address" />
                                <button type="submit" id="subscribebtn" class="button button-border button-white no-bottom-margin">Subscribe</button>
                              </form>
                              <p class="error-message"></p>
                              <p class="success-message"></p>
                            </div><!--end page section -->
                          </div><!-- end form container -->
                        </div><!-- end Subscribe Form -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Services Section -->
          <section id="services" class="section on-menu fullscreen-element">
            <div class="section-container">
              <div class="element-table">
                <div class="table-cell">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">

                        <div class="section-header bottom-padding animated" data-animation="fadeInUp" data-animation-delay="700">
                          <h2 class="section-title">Our Services</h2>
                          <div class="line-separate line-white line-center"><span></span></div>
                          <p>We provide Amazing Solutions</p>
                        </div>
                        <div class="row">

                          <div class="col-md-10 col-md-offset-1 animated" data-animation="fadeInUp" data-animation-delay="800">
                            <!-- Nav tabs - Icon -->
                            <ul class="nav nav-tabs ico">
                              <li class="active">
                                <a href="#first-tab-ico" data-toggle="tab">
                                  <i class="ion-ios-monitor-outline"></i><span>Web  Design</span>
                                </a>
                              </li>
                              <li>
                                <a href="#second-tab-ico" data-toggle="tab">
                                <i class="ion-ios-keypad-outline"></i><span>UI / UX</span>
                                </a>
                              </li>
                              <li>
                                <a href="#third-tab-ico" data-toggle="tab">
                                <i class="ion-ios-camera-outline"></i><span>Photography</span>
                                </a>
                              </li>
                              <li>
                                <a href="#fourth-tab-ico" data-toggle="tab">
                                <i class="ion-ios-gear-outline"></i><span>Development</span>
                                </a>
                              </li>
                            </ul>
                            <!-- Tab panes - Icon -->
                            <div class="tab-content ico">
                              <div class="tab-pane text-center active" id="first-tab-ico">
                                <small>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</small>
                              </div>
                              <div class="tab-pane text-center" id="second-tab-ico">
                                <small>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</small>
                              </div>
                              <div class="tab-pane text-center" id="third-tab-ico">
                                <small>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.</small>
                              </div>
                              <div class="tab-pane text-center" id="fourth-tab-ico">
                                <small>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</small>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Contact Section -->
          <section id="contact" class="section on-menu fullscreen-element">
            <div class="section-container">
              <div class="element-table">
                <div class="table-cell">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1 text-center">

                        <div class="section-header no-padding animated" data-animation="fadeInUp" data-animation-delay="700">
                          <h2 class="section-title">Contact Us</h2>
                          <div class="line-separate line-white line-center"><span></span></div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <hr class="animated" data-animation="fadeInUp" data-animation-delay="800"/>

                        <div class="row animated" data-animation="fadeInUp" data-animation-delay="900">
                          <div class="col-md-5">
                            <div class="text-left adress">
                              <i class="ion-ios-location-outline"></i>
                              <p class="contact-way text-uppercase">Office Location</p>
                              300 Collins St, Melbourne, Vic 3000
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="text-left adress">
                              <i class="ion-ios-telephone-outline"></i>
                              <p class="contact-way text-uppercase">Phone Number</p>
                              +614 3928 472
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="text-left adress">
                              <i class="ion-ios-email-outline"></i>
                              <p class="contact-way text-uppercase">E-mail Address</p>
                              hello@yose.net
                            </div>
                          </div>
                        </div>

                        <hr class="animated" data-animation="fadeInUp" data-animation-delay="1000"/>

                        <!-- Contact Form -->
                        <form method="post" action="send-mail.php" class="contact-form animated" data-animation="fadeInUp" data-animation-delay="1100">
                          <div class="row">
                            <div class="col-md-4">
                              <input type="text" name="name" placeholder="Name" class="required">
                            </div>
                            <div class="col-md-4">
                              <input type="email" name="email" placeholder="Email address" class="contact-form-email required">
                            </div>
                            <div class="col-md-4">
                              <input type="text" name="subject" placeholder="Subject" class="contact-form-subject">
                            </div>
                          </div>
                          <textarea name="message" placeholder="Message" class="required" rows="7"></textarea>
                          <div class="response-message"></div>
                          <button class="button button-border button-white" type="submit" id="submit" name="submit">Send Message</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>

        <!-- Overlay -->
        <div class="overlay">
          <div class="gradient-overlay background-blue-dark opacity-40"></div>
        </div>
        <div class="background-layer cover-background image-6"></div>

        <!-- Footer -->
        <footer class="site-footer">
          <nav class="socials-icons">
            <ul>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            </ul>
            <div class="line horizontal left"></div>
          </nav>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="/subscription/plugins/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/subscription/plugins/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/creativ/default/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/subscription/plugins/js/plugins.min.js"></script>

        <script type="text/javascript" src="/subscription/plugins/js/main.js"></script>

      </body>
