        <button id="login">Login</button><br><br>
        <button id="register">Register</button>
        <form class="login-form">
          <label for="username">Email</label>
          <input type="text" name="email" id="email">
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
          <input type="submit" class="submit">
          <button class="cancel">cancel</button>
        </form>
        <form class="register-form">
          //- <label for="username">Username</label>
          //- <input type="text" name="username" id="username">
          <label for="email">Email</label>
          <input type="text" name="email" id="email">
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
          <input type="submit" class="submit">
          <button class="cancel">cancel</button>
        </form>